.header1 {
  color: cadetblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.center {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.dad {
  font-size: 150%;
  margin: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 3px dotted;
}
.icon {
  width: 5%;
  height: auto;
  vertical-align: middle;
  float: left;
}
.musiclink {
  padding-bottom: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.audio {
  display: block;
}
.context-menu {
  position: absolute;
  text-align: center;
  background-color: lightsteelblue;
  border: 1px solid black;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}

.context-menu ul li {
  padding-bottom: 7px;
  padding-top: 7px;
  border: 1px dotted black;
}

.context-menu ul li a {
  text-decoration: none;
  color: darkslategray;
}

.context-menu ul li:hover {
  background: white;
}
span {
  display: inline-block;
}
#recent {
  margin: 30px;
  padding: 20px;
  border: 1px solid;
}
body {
  background-color: lightgray;
}
a:link {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: gray;
  text-decoration: underline;
}
a:hover {
  color: brown;
  text-decoration: underline;
}
